node_modules/
node-v22/
.env
.env.*
!.env.example
*.exe
zencord_installer
.idea/
.DS_Store
.gemini/
package-lock.json
yarn.lock
bun.lock
*.log
*.tsbuildinfo
src/userplugins/
ExtensionCache/
/settings/
releases/
